.resultcontainer {
  width: 50%;
  height: auto;
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.resultcontainer h2 {
  margin-left: 1rem;
}

.resultcontainer ul {
  margin-top: 0;
  height: 100%;
  width: 80%;
  margin-left: 1rem;
  margin-bottom: 0;
}

.resultcontainer li {
  text-align: start;
  width: 60%;
  height: fit-content;
}

.titleandbutton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5rem;
}

.titleandbutton button {
  height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .resultcontainer {
    width: 100%;
    padding: 0;
  }
  .resultcontainer h2 {
    font-size: 1rem;
  }
  .resultcontainer ul {
    width: 85%;
  }
  .resultcontainer li {
    font-size: 0.7rem;
  }
  .titleandbutton button {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
