.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 24vw;
  padding-right: 24vw;
}

.container h1 {
  color: #057e0f;
}

.banner {
  left: 0;
  width: 100%;
  background-color: palevioletred;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.searchsection {
  width: 100%;
  background-color: white;
}

.searchsection p {
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.resultandnominee {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .resultandnominee {
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
